@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --bg: #222831;
    --blue: #00FFF5;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background: var(--bg);
    color: white;
}

header nav{
    height: 15vh;
    width: 80%;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1{
    font-size: 45px;
    color: var(--blue);
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 5px;
}

header ul {
    display: flex;
    gap: 5rem;
    list-style: none;
}

header a{
    display: block;
    color: white;
    text-decoration: none;

    border-radius: .2rem;
    padding: .5rem 1rem;
    transition: .2s ease-in;
    border-bottom: 2px solid var(--blue);
    overflow: hidden;
    position: relative;
}

.s-container {
    min-height: 90vh;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

image {
    width: 350px;
    border-radius: 50%;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 40%;
}

.subtitle{
    letter-spacing: 2px;
    font-weight: 600;
    margin-bottom: .5rem;
}

.title {
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 3rem;
    margin-bottom: 1rem;
}

.title span {
    font-weight: 700;
    color: var(--blue);
}

.description {
    line-height: 1.5rem;
    margin-bottom: 2rem;
    color: #dfdfdf;
}

.buttons {
    display: flex;
    gap: 1rem;
}

.buttons button, .buttons  a{
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 2px;
    color: black;
    padding: .8rem 1.6rem;
    outline: none; border: none;
    border-radius: 10px;
    transition: .3s ease-out;
    cursor: pointer;
    box-shadow: 3px 3px 0 rgba(0,0,0,0,4);
}

.buttons a{
    text-decoration: none;
    background-color: var(--blue);
}


